@media screen and (min-width: 1920px) {
    .screen {
        height: 60vh;
    }

    .cards-container .cards-content {
        width: 350px;
    }

    .cards-container .cards-content .imgBx {
        width: 300px;
    }
}


@media screen and (max-width: 1030px) {
    .screen {
        height: 160vh;
    }

    .cards-container {
        gap: 20px;
        padding: 50px;
      }
}

@media screen and (max-width: 852px) {
    .screen {
        height: 200vh;
    }
}