.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #f0f3fa, #b1c9ef);
  height: 100vh;
  flex-wrap: wrap;
}

.cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.cards-container .cards-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 320px;
  height: 300px;
  border-radius: 20px;
  background: #fff;
  transition: 0.5s ease;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.cards-container .cards-content:hover {
  height: 400px;
}

.cards-container .cards-content .imgBx {
  position: absolute;
  top: 20px;
  border-radius: 12px;
  width: 280px;
  height: 220px;
  overflow: hidden;
  transition: 0.5s ease;
}

.cards-container .cards-content:hover .imgBx {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);
}

.cards-container .cards-content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-container .cards-content .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  overflow: hidden;
  padding: 0 30px;
  text-align: center;
  transition: 0.5s ease;
}

.cards-container .cards-content .content .title {
  color: #000;
  font-size: 24px;
  font-family: Afacad;
  font-weight: 600;
}

.cards-container .cards-content .content .text {
  color: #333;
  font-size: 14px;
  font-family: Montserrat;
  padding-bottom: 22px;
  font-weight: bold;
}

.cards-container .cards-content .content a {
  text-decoration: none;
}

.cards-container .cards-content .content .button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #f5f5ff;
  border-radius: 40px;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
  background: linear-gradient(to right, #4682B4, #395886);
}

.cards-container .cards-content .content .button img {
  width: 30px;
  display: none;
}

.cards-container .cards-content .content .button:hover img {
  transition: 0.5s ease-in-out;
  display: block;
}

.cards-container .cards-content .content .button:hover {
  width: 160px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-container .cards-content:hover .content {
  top: 140px;
  height: 250px;
}