* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #638ecb, #006da4);
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    align-items: center;
    height: 130vh;
}

.card {
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card-content {
    padding: 20px;
    transition: transform 0.5s ease-in-out;
    display: none;
}

.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    padding-top: 10px;
    font-size: 26px;
    font-weight: 500;
    font-family: Afacad;
}

.card-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.direita,
.esquerda {
    background-color: #f0f3fa;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding-bottom: 4px;
    outline: none;
    position: absolute;
    transform: translateX(50%, -50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direita {
    right: 30px;
}

.esquerda {
    left: 30px;
}


.nav-bar ul li a {
    position: relative;
    top: 10px;
}

@media screen and (max-width: 1030px) {
    .direita {
        right: 10px;
    }

    .esquerda {
        left: 10px;
    }

}

@media screen and (max-width: 613px) {
    .direita {
        right: 40px;
    }

    .esquerda {
        left: 40px;
    }

}

@media screen and (max-width: 610px) {
    .direita {
        right: 6px;
    }

    .esquerda {
        left: 6px;
    }

}

@media screen and (max-width: 400px) {
    .direita {
        right: 3px;
    }

    .esquerda {
        left: 3px;
    }

}