@media screen and (min-width: 1920px) {
    .container {
        min-height: 90vh;
    }

    .row {
        width: 100%;
    }

    .row .right .card {
        width: 600px;
        height: 600px;
        position: relative;
        left: 100px;
    }

    .nav-list {
        min-height: 60vh;
    }

    .list {
        max-width: 1200px;
    }

    #maps {
        width: 900px;
    }
}

@media screen and (max-width: 590px) {
    .wrapper {
        flex-direction: column;
    }

    .indicator {
        border-bottom: 1px solid #eee;
    }

    #maps {
        max-width: none !important;
        width: 460px !important;
    }
}

@media screen and (max-width: 560px) {

    #maps {
        max-width: none !important;
        width: 440px !important;
    }
}

@media screen and (max-width: 540px) {

    #maps {
        max-width: none !important;
        width: 430px !important;
    }
}

@media screen and (max-width: 530px) {

    #maps {
        max-width: none !important;
        width: 420px !important;
    }
}

@media screen and (max-width: 526px) {

    #maps {
        max-width: none !important;
        width: 400px !important;
    }
}

@media screen and (max-width: 511px) {

    #maps {
        max-width: none !important;
        width: 398px !important;
    }
}

@media screen and (max-width: 500px) {

    #maps {
        max-width: none !important;
        width: 390px !important;
    }
}

@media screen and (max-width: 495px) {

    #maps {
        max-width: none !important;
        width: 380px !important;
    }
}

@media screen and (max-width: 486px) {

    #maps {
        max-width: none !important;
        width: 370px !important;
    }
}

@media screen and (max-width: 476px) {

    #maps {
        max-width: none !important;
        width: 360px !important;
    }
}

@media screen and (max-width: 460px) {

    #maps {
        max-width: none !important;
        width: 350px !important;
    }
}

@media screen and (max-width: 450px) {

    #maps {
        max-width: none !important;
        width: 340px !important;
    }
}

@media screen and (max-width: 440px) {

    #maps {
        max-width: none !important;
        width: 330px !important;
    }
}

@media screen and (max-width: 430px) {

    #maps {
        max-width: none !important;
        width: 320px !important;
    }
}

@media screen and (max-width: 420px) {

    #maps {
        max-width: none !important;
        width: 310px !important;
    }
}

@media screen and (max-width: 410px) {

    #maps {
        max-width: none !important;
        width: 300px !important;
    }
}

@media screen and (max-width: 400px) {

    #maps {
        max-width: none !important;
        width: 290px !important;
    }
}

@media screen and (max-width: 390px) {

    #maps {
        max-width: none !important;
        width: 280px !important;
    }
}

@media screen and (max-width: 380px) {

    #maps {
        max-width: none !important;
        width: 270px !important;
    }
}

@media screen and (max-width: 370px) {

    #maps {
        max-width: none !important;
        width: 260px !important;
    }
}

@media screen and (max-width: 360px) {

    #maps {
        max-width: none !important;
        width: 250px !important;
    }
}

@media screen and (max-width: 350px) {

    #maps {
        max-width: none !important;
        width: 240px !important;
    }
}

@media screen and (max-width: 340px) {

    #maps {
        max-width: none !important;
        width: 230px !important;
    }
}

@media screen and (max-width: 330px) {

    #maps {
        max-width: none !important;
        width: 220px !important;
    }
}

@media screen and (max-width: 320px) {

    #maps {
        max-width: none !important;
        width: 210px !important;
    }
}

@media screen and (max-width: 310px) {

    #maps {
        max-width: none !important;
        width: 200px !important;
    }
}

@media screen and (max-width: 300px) {

    #maps {
        max-width: none !important;
        width: 190px !important;
    }
}

@media screen and (max-width: 290px) {

    #maps {
        max-width: none !important;
        width: 180px !important;
    }
}

@media screen and (max-width: 280px) {

    #maps {
        max-width: none !important;
        width: 170px !important;
    }
}

@media screen and (max-width: 270px) {

    #maps {
        max-width: none !important;
        width: 160px !important;
    }
}

@media screen and (max-width: 260px) {

    #maps {
        max-width: none !important;
        width: 150px !important;
    }
}

@media screen and (max-width: 250px) {

    #maps {
        max-width: none !important;
        width: 140px !important;
    }
}

@media screen and (max-width: 240px) {

    #maps {
        max-width: none !important;
        width: 130px !important;
    }
}

@media screen and (max-width: 230px) {

    #maps {
        max-width: none !important;
        width: 120px !important;
    }
}

@media screen and (max-width: 220px) {

    #maps {
        max-width: none !important;
        width: 110px !important;
    }
}

@media screen and (max-width: 210px) {

    #maps {
        max-width: none !important;
        width: 100px !important;
    }
}

@media screen and (max-width: 895px) {
    #maps {
        max-width: 500px;
    }
}

@media screen and (max-width: 800px) {
    #maps {
        max-width: 400px;
    }
}

@media screen and (max-width: 700px) {
    #maps {
        max-width: 300px;
    }
}

@media screen and (max-width: 991px) {
    .row .right .content {
        padding-left: 0;
    }
}

@media screen and (max-width: 830px) {
    .container {
        justify-content: center;
        align-items: center;
    }

    .row .left .content .title{
        font-size: 24px;
    }

    .row .left .content .text {
        font-size: 18px;
    }

    .row {
        width: 100%;
        margin-top: 20px;
        grid-template-columns: 1fr;
    }

    .row .right .card {
        width: 300px;
        height: 300px;
        margin-left: 40px;
    }
}