* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f3fa;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    bottom: 100px;
    background: #fff;
    max-width: 1000px;
    border-radius: 13px;
    overflow-x: hidden;
    padding: 35px;
    position: relative;
}

.wrapper .icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}

.icon:first-child {
    left: 0;
    display: none;
    background: linear-gradient(90deg, #fff 70%, transparent);
}

.icon:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #fff 70%, transparent);
}

.icon .arrow {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .5s ease-in;
    border: 1px solid #d8d5f2;
}

.icon .arrow:hover {
    background: #d8d5f2;
}

.icon:first-child .arrow {
    margin-left: 15px;
}

.icon:last-child .arrow {
    margin-right: 15px;
}

.wrapper .tabs-box {
    display: flex;
    list-style: none;
    gap: 12px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.tabs-box.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.tabs-box .tab {
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.18rem;
    background: #f8f8ff;
    border: 1px solid #d8d5f2;
    padding: 13px 20px;
    border-radius: 30px;
}

.tabs-box.dragging .tab {
    user-select: none;
    pointer-events: none;
}

.tabs-box .tab.active {
    color: #fff;
    background: #5372f0;
    border-color: transparent;
}