@media screen and (min-width: 1920px) {
    .container{
        height: 20vh;
    }
    .text{
        top: 130px;
    }

    .margin { 
        height: 100vh;
        margin-bottom: 200px;
    }

    .table {
        margin-top: 100px;
        width: 96%;
    }

    .table_section {
        height: 880px;
    }

    .text {
        top: 100px;
    }
}